@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

@font-face {
  font-family: 'Lore';
  src: url('/public/fonts/LORERegular.woff2') format('woff2'),
    url('/public/fonts/LORERegular.woff') format('woff');
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

@import './navigation.css';
@import './footer.css';
@import './home.css';
@import './about.css';
@import './shop.css';
@import './cart-summary.css';
@import './result.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.product__select select {
  @apply appearance-none bg-transparent w-full pr-4 m-0 outline-none focus-within:outline-none;
}

select::-ms-expand {
  display: none;
}

.loader-container {
  @apply w-full flex justify-center;
}

.loader {
  border-top-color: rgb(193, 193, 193);
  @apply border-10 border-t-10  w-20 h-20 rounded-half animate-spin;
}
