.product-section {
  @apply py-10 pt-14 w-full px-10 md:px-14;
}

.products {
  @apply mx-auto max-w-screen-2xl grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3;
}

.product {
  @apply flex flex-col space-y-5 col-span-1;
}

.product img {
  @apply w-full;
}

.product h2 {
  @apply text-2xl font-bold;
}

.product__buttons {
  @apply flex flex-col space-y-5;
}

.product__buttons button {
  @apply p-2 border bg-gray-900 text-white hover:border-gray-400 hover:bg-gray-400 hover:text-white transition-all duration-150 font-medium rounded-md uppercase tracking-wide w-full md:w-48;
}

.product__select {
  @apply flex justify-between items-center;
}

/* .product__select select {
  @apply border w-full outline-none focus-within:outline-none p-0 py-1 pr-2;
} */

.product__select select {
  @apply appearance-none bg-transparent w-full pr-4 m-0 outline-none focus-within:outline-none;
}

.product__select select::-ms-expand {
  display: none;
}

.select {
  @apply grid w-full border border-gray-700 rounded py-2 px-2 bg-white cursor-pointer text-xl;
  align-items: center;
  line-height: 1.1;
  grid-template-areas: 'select';
}

select,
.select::after {
  grid-area: select;
}

.select::after {
  content: '';
  width: 0.8em;
  height: 0.5em;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  @apply bg-gray-900;
  justify-self: end;
}

.quantity,
.frame-size {
  @apply flex flex-col space-y-2;
}

.frame-size {
  @apply w-3/4 mr-4;
}

.quantity select,
.frame-size select {
  @apply px-1 w-full;
}

.toast {
  @apply bg-green-500;
}
